<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" />
        <bindingRedirect oldVersion="1.0.0.0-11.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlClrProvider" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="data source=KAUNGHTETSAN;initial catalog=YGNZOO_DB;persist security info=True;user id=sa;password=Sourcec0de;" />
   <add name="POSEntities" connectionString="metadata=res://*/APP_Data.MainModel.csdl|res://*/APP_Data.MainModel.ssdl|res://*/APP_Data.MainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KAUNGHTETSAN;initial catalog=YGNZOO_DB;user id=sa;password=Sourcec0de;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="_ServerName" value="KAUNGHTETSAN" />
    <add key="_DBName" value="YGNZOO_DB" />
    <add key="_DBUser" value="sa" />
    <add key="_DBPassword" value="Sourcec0de" />
    <!--<add key="DB_BackupPath" value="\\KAUNGHTETSAN-pc5\JOB\" /> to the remote database server-->
    <add key="DB_BackupPath" value="C:\SourceCode Co\DB_BK\" />
    <add key="IsBackupByClient" value="false" />
    <add key="LogFilePath" value="D:\SourceCodeCo\sourcecode\ZooLogFile" />
    <add key="fbLink" value="facebook.com/yangonzoo/" />
    <add key="mainlogo" value="D:\SourceCodeCo\Sourcecode\ZooLogFile\mainlogo.jpg" />
    <add key="ygnzoologo" value="D:\SourceCodeCo\Sourcecode\ZooLogFile\ygnzoologo.jpg" />
  </appSettings>
  <userSettings>
    <POS.Properties.Settings>
      <setting name="MyConnectionString" serializeAs="String">
        <value>data source=KAUNGHTETSAN;initial catalog=YGNZOO_DB;persist security info=True;user id=sa;password=Sourcec0de;</value>
      </setting>
    </POS.Properties.Settings>
  </userSettings>
  <system.webServer>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <system.web>
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </httpHandlers>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>